.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  background-color: #000;
  border-style: none;
  align-self: center;
  justify-self: end;
  border: 1px solid #fff;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    align-self: stretch;
  }
}
